# Informática y Programación Industrial

## Guía de ejercicios
### Conversión entre sistemas numéricos

Usando el método que considere conveniente, realice las siguientes conversiones, datallando el paso a paso del procedimiento:

---
1. Convertir de binario a decimal: ``100011110``

$$ (1) \cdot 2^8 + (1) \cdot 2^4 + (1) \cdot 2^3 + (1) \cdot 2^2 + (1) \cdot 2^1 = 286 $$
**Resultado: 286**

In [4]:
int('100011110',2)

286

---
2. Convertir de binario a octal: ``101101000``

Tomo grupos de tres:
$$\begin{array}{|r|r|r|}
\hline
101 & 101 & 000 \\
\hline
2^2 + 2^0 & 2^2 + 2^0 & 0 \\
5 & 5 & 0 \\
\hline
\end{array}$$
**Resultado = 550**

In [5]:
num = int('101101000',2)
oct(num)

'0o550'

---
3. Convertir de binario a hexadecimal: ``110011110``

Separo en grupos de cuatro: 
``0001 1001 1110``

$$\begin{array}{|r|r|r|}
\hline
0001 & 1001 & 1110 \\
\hline
2^0 & 2^3 + 2^0 & 2^3 + 2^2 + 2^1 \\
1 & 9 & 13 \\
1 & 9 & e \\
\hline
\end{array}$$
**Resultado: 19e**

In [2]:
num = int('110011110',2)
hex(num)

'0x19e'

---
4. Convertir de binario a qinario: ``101001110``

Primero pasamos a decimal:
$$ 2^8 + 2^6 + 2^3 + 2^2 + 2^1 = 334 $$

Dividimos por 5:

            334  /_ 5
              4    66  /_ 5
                    1    13  /_ 5
                          3    2

**Resultado: 2314**

---
5. Convertir de binario a Base-11:  `111111001`

Primero pasamos a decimal:
$$ 2^8 + 2^7 + 2^6 + 2^5 + 2^4 + 2^3 + 2^0 = 505 $$

In [2]:
int('111111001',2)

505

        505  /_ 11
         65     45
         10       
         
Luego: 

$\begin{array}{l}
45_{10} = 41_{11}\\
10_{10} = a_{11}
\end{array}$

**Resultado: 41a**

---
6. Convertir de decimal a binario: `368`

    368  /_ 2
      0   184  /_ 2
            0    92  /_ 2
                  0    46  /_ 2
                        0    23  /_ 2
                              1    11  /_ 2
                                    1     5  /_ 2
                                          1     2  /_ 2
                                                0     1
**Resultado: 101110000**

In [4]:
bin(368)

'0b101110000'

---
7. Convertir de decimal a octal:  `6841`

    6841  /_ 2
       1   3420  /_ 2
              0   1710  /_ 2
                     0    855  /_ 2
                            1   427  /_ 2
                                  1   213  /_ 2
                                        1   106  /_ 2
                                              0   53  /_ 2
                                                   1    26  /_ 2
                                                         0    13  /_ 2
                                                               1     6  /_ 2
                                                                     0     3  /_ 2
                                                                           1     1
En binario: 1101010111001

In [5]:
bin(6841)

'0b1101010111001'

Tomo grupos de tres:

     001 101 010 111 001
       1   5   2   7   1

**Resultado: 15271**

In [6]:
oct(6841)

'0o15271'

---
8. Convertir de decimal a hexadecimal: `41386`

Primero convertimos a binario, dividiendo sucesivamente por 2:

    41386  /_ 2
        0   20693  /_ 2
                1    10346  /_ 2
                         0   5173  /_ 2
                                1   2586  /_ 2
                                       0   1293  /_ 2
                                              1    646  /_ 2
                                                     0    323  /_ 2
                                                            1   161  /_ 2
                                                                  1    80  /_ 2
                                                                        0    40  /_ 2
                                                                              0    20  /_ 2
                                                                                    0    10  /_ 2
                                                                                          0     5  /_ 2
                                                                                                1     2  /_ 2
                                                                                                      0     1
En binario: 1010000110101010

In [7]:
bin(41386)

'0b1010000110101010'

Tomo grupos de cuatro:

    1010 0001 1010 1010
       a    1    a    a

**Resultado: a1aa**

In [8]:
hex(41386)

'0xa1aa'

---
8. Convertir de decimal a quinario: `7689`

     7689    / 5
        4   1537   / 5
               2   307  / 5
                     2   61  / 5
                          1   12  / 5
                               2    2
Resultado: 221224

---
9. Convertir de decmal a Base-11: `1238`

       1238  / 11
          6   112  / 11
                2    10

10 = a

Resultado: a26

---
Usando el método que considere conveniente, realice las siguientes conversiones con punto flotante, utilizando 8 dígitos entre la parte entera y la parte decimal, aparte, marcar el valor real y el error de conversión, detallando el paso a paso del procedimiento:

11. Convertir de binario a decimal: `110.10001`

$$ N_{10} = 2^2 + 2^1 + 2^{-1} + 2^{-5} $$

In [1]:
2**2 + 2**1 + 2**-1 + 2**-5

6.53125

---
12. Convertir de binario a octal: `110.11111`

Tomamos grupos de tres:
$$ \underbrace{110}_{6} \, , \, \underbrace{111}_{7} \, \underbrace{110}_{6} $$
Resultado: $6,76$

---
13. Convertir de binario a hexadecimal: `101.11011`

Tomamos grupos de cuatro:
$$ \underbrace{0101}_{5} \, , \, \underbrace{1101}_{D} \, \underbrace{1000}_{8} $$
Resultado: $5,D8$

---
14. Convertir de decimal a binario: `6.1`

Tabla de potencias base 2:

$\begin{array}{|lcl|}
\hline
2^{-5} & = & 0,03125 \\
2^{-4} & = & 0,0625 \\
2^{-3} & = & 0,125 \\
2^{-2} & = & 0,25 \\
2^{-1} & = & 0,5 \\
2^0 & = & 1 \\
2^1 & = & 2 \\
2^2 & = & 4 \\
2^3 & = & 8 \\
\hline
\end{array}$

$$\begin{array}{ll}
6,1 \\
4 & = 2^2 \\
\hline
2,1 \\
2 & = 2^1 \\
\hline
0,1 \\
0,0625 & = 2^{-4} \\
\hline
0,0375 \\
0,03125 & = 2^{-5} \\
\hline
0,00625
\end{array}$$

**Resultado:**
$$ 110,00011 $$
- valor real: 6,09375
- error: 0,00625

---
15. Convertir de decimal a octal: `323.136`

Primero convertimos a binario:

![ej15.png](img/ej15.png)

En binario: `101000011.001000101001`

Luego convertimos a octal:    
Tomamos grupos de tres

       101 000 011.001 000 101 001
        5   0   3 . 1   0   5   1

**Resultado: 503.1051**

---
16. Convertir de decimal a hexadecimal: `663.4153`

Primero convertimos a binario

![ej16.png](img/ej16.png)

En binario: `1010010111.0110101001010001`

Luego convertimos a hexadecimal:      
Tomamos grupos de cuatro:

    0010 1001 0111 . 0110 1010 0101 0001
      2    9    7  .  6    a    5    1

**Resultado: 297.6a51**